<!--<mat-form-field [floatLabel]="floatLabel">-->
<!--  <input matInput-->
<!--         [autocomplete]="inputAutocomplete"-->
<!--         [type]="type"-->
<!--         [placeholder]="placeholder | messageBundle"-->
<!--         [attr.name]="name"-->
<!--         [maxlength]="maxLength"-->
<!--         [required]="required"-->
<!--         [disabled]="disabled"-->
<!--         [matAutocomplete]="auto"-->
<!--         [(ngModel)]="filterValue"-->
<!--         (ngModelChange)="changeFilter(false)"-->
<!--         (focus)="changeFilter(true)"-->
<!--         (blur)="clearFilter()"-->
<!--  />-->
<!--  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="updateSelection($event)" [displayWith]="displayWith">-->
<!--    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">-->
<!--      <ng-container *ngTemplateOutlet="optionTemplate;context:{option: option.display}"></ng-container>-->
<!--    </mat-option>-->
<!--  </mat-autocomplete>-->
<!--</mat-form-field>-->
<!--<ic-form-field-errors [errorKeys]="errorKeys" [form]="form"></ic-form-field-errors>-->
