<mat-form-field>
  <input matInput
         [formControl]="formControl"
         [matAutocomplete]="auto"
         (blur)="onBlur($event)"/>
  <button mat-button *ngIf="formControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayText" (optionSelected)="updateWgrModel($event.option.value)" [panelWidth]="'500px'">
    <mat-option *ngFor="let option of genericFilteredOptions" [value]="option">
      {{getDisplayText(option)}}
    </mat-option>
<!--    Weird, but necessary to get ng-content to show up-->
    <mat-option style="visibility: hidden; height: 0" *ngIf="!generic" [value]="''"></mat-option>
    <ng-content></ng-content>
  </mat-autocomplete>
</mat-form-field>
