<mat-form-field>
  <input matInput
         [formControl]="formControl"
         [matAutocomplete]="auto"
         [placeholder]="placeholder"
         (blur)="onBlur($event)"/>
  <button mat-button *ngIf="formControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [panelWidth]="panelWidth" [displayWith]="getDisplayText" (optionSelected)="updateWgrModel($event.option.value)">
    <mat-option style="height: unset" *ngFor="let option of (generic ? genericFilteredOptions : items)" [value]="option">
      <span *ngIf="generic">{{getDisplayText(option)}}</span>
      <ng-container *ngTemplateOutlet="optionTemplate;context:{option: option}"></ng-container>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
