<!--A: Generic String-->
<div class="test">
  <ic-select-search placeholder="Strings" [items]="genericStringArray" [(wgrModel)]="selectedGenericString"></ic-select-search>
  <h3>Result: {{stringify(selectedGenericString)}}</h3>
</div>
<!--B: Display text-->
<div class="test">
  <ic-select-search placeholder="Select Items" [items]="selectItemArray" [(wgrModel)]="selectedItemObject"></ic-select-search>
  <h3>Result: {{stringify(selectedItemObject)}}</h3>
</div>
<!--C: Custom object-->
<div class="test">
  <ic-select-search placeholder="Custom Objects" displayKey="title" [optionTemplate]="optionTemplate" [items]="searchResults"
                    (inputEvent)="search($event)" [panelWidth]="'600px'" [(wgrModel)]="selectedCustomObject"></ic-select-search>
  <ng-template #optionTemplate let-option="option">
    <div style="display: inline">
      {{option.title}}
    </div>
    <div style="display: inline">
      {{option.src}}}
    </div>
  </ng-template>
  <h3>Result: {{stringify(selectedCustomObject)}}</h3>
</div>
